* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

a,
button {
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

:root {
  --red: #ff6251;
  --yellow: #f6ba01;
  --red-secondary: #c52f0e;
  --yellow-secondary: #f19a16;
  --button-size: 18px;
  --body-size: 14px;
}

body {
  width: 400px;
  padding: 20px;
  font-family: 'Lora', serif;
  font-size: var(--body-size);
}

#reservation {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding: 25px;
  border: 5px solid var(--red);
  border-radius: 20px;
}

body.active > #reservation {
  display: flex;
}

#list > li {
  margin-bottom: 15px;
}

#get {
  width: 100%;
}

#download {
  margin-top: 10px;
}

#get,
#download {
  color: #fff;
  background-color: var(--yellow);
  font-size: var(--button-size);
  border-radius: 5px;
  transition: box-shadow 0.3s, background-color 0.3s;
  padding: 8.5px 24px;
}

#get:hover,
#download:hover {
  background-color: var(--yellow-secondary);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

body.active > #get {
  background-color: var(--red);
}

body.active > #get:hover {
  background-color: var(--red-secondary);
}

#message {
  margin-top: 15px;
  color: var(--red);
  text-align: center;
}

#loading {
  width: 60px;
  height: 60px;
  margin: 20px auto 0 auto;
}

#loading:after {
  content: ' ';
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--red);
  border-color: var(--red) transparent var(--red) transparent;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
